<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Das Turnier heute</h2>
                    <h3 class="section-subheading text-muted">
                    Traditionell wurde das Turnier im Zuge des Festes Beltane, dem fünften Vollmond des Jahres, abgehalten. In diesem Jahr entspricht es zirka dem 10. Mai. Um den Ablauf einfacher zu gestalten, kann das Turnier in einem Zeitraum von 19 Tagen um den 10. Mai abgehalten werden.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
              Die einzelnen Wettbewerbe werden im folgenden Abschnitt kurz beschrieben. Eine komplette Zusammenstellung der Regeln kannst du dir hier herunterladen!
            </div>

        </div>
    </section>
